<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.sprouts.controller"/>

    <mvc:annotation-driven/>

    <!-- Caching Stuff: -->
    <!-- ______________ -->

    <!-- Template for simple-spring-memcached CacheFactory:

    <bean name="cacheTemplate" class="com.google.code.ssm.CacheFactory">
        <property name="cacheClientFactory">
            <bean id="mcClientFactory" class="com.google.code.ssm.providers.xmemcached.MemcacheClientFactoryImpl"/>
        </property>
        <property name="addressProvider">
            <bean id="mcAddressProvider" class="com.google.code.ssm.config.DefaultAddressProvider"
                  p:address="${saint.memcached.addresses}"/>
        </property>
        <property name="configuration">
            <bean class="com.google.code.ssm.providers.CacheConfiguration"
                  p:consistentHashing="true"
                  p:useNameAsKeyPrefix="true"
                  p:useBinaryProtocol="false"/>
        </property>
    </bean>

    <bean id="testCacheImpl" parent="cacheTemplate"
          p:cacheName="testCache"
          p:defaultSerializationType="JSON"/>

    <cache:annotation-driven cache-manager="cacheManager"/>

    <bean id="cacheManager" class="com.google.code.ssm.spring.SSMCacheManager">
        <property name="caches">
            <set>
                <ref bean="testCache"/>
            </set>
        </property>
    </bean>

    <bean name="testCache" class="com.google.code.ssm.spring.SSMCache"
          c:cache-ref="testCacheImpl"
          c:expiration="3600"
          c:allowClear="false"/>
        -->

</beans>
